
body {
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-light);
}


h1, h2, h3 {
    color: var(--color-text-light);
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


.header {
    background: var(--color-primary);
    color: var(--color-card-light);
    padding: var(--space-sm) 0;
    text-align: center;
}


.footer {
    background: var(--color-primary);
    color: var(--color-card-light);
    text-align: center;
    padding: var(--space-sm) 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


.expense-list {
    list-style: none;
    padding: 0;
}


.expense-item {
    background: var(--color-card-light);
    margin: var(--space-sm) 0;
    padding: var(--space-md);
    border-radius: 5px;
    box-shadow: var(--color-shadow);
}


.add-expense-form {
    background: var(--color-card-light);
    padding: var(--space-lg);
    border-radius: 5px;
    box-shadow: var(--color-shadow);
}


.summary {
    background: #e2e2e2;
    padding: var(--space-md);
    border-radius: 5px;
    text-align: center;
    margin: var(--space-lg) 0;
}